<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Application</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="../../static/css/style.css" />
    <link rel="stylesheet" href="../../static/css/donor.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Nunito:wght@300;400&family=Roboto:wght@300&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Noto+Serif+JP&family=Roboto:wght@300&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="icon" href="../../static/img/logo1.png" type="image/jpg" sizes="16x16">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/1.10.100/pdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.worker.entry.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/1.10.100/pdf.worker.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 

</head>

<body>
    <section id="HOME">
        <header>
            <a href="/" class="logo"><img src="../../static/img/logo.png" alt="logo" /></a>
            <div class="toggle" onclick="toggleMenu();"></div>
            <ul class="menu">
                <li><a href="/customerhome" onclick="toggleMenu();">Home</a></li>
            </ul>
        </header>

        <section class="sect">
        </section>

        <form onsubmit="sendinfo();" enctype="multipart/form-data" method="get" action="/checkoutsuccess">
            {% if message is defined %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
            {% endif %}

            {% if message1 is defined %}
            <div class="alert alert-danger" role="alert">
                {{message1}}
            </div>
            {% endif %}
            <div class="form-group">
                <u>
                    <h1>Upload Receipt</h1>
                </u>
            </div>
            <fieldset>
                <legend><span class="number">1</span>Upload Receipt</legend>
                <input type="file" id="file-id" name="file_name" onchange="ExtractText();">
                <input type="button" id="btn-example-file-reset" value="Reset file" type="button">
                
                <!-- a container for the output -->
                <div id="output" style="display:none"></div>
                <div id="price" style="color:#3498db;"></div>
                <script>
                $(document).ready(function() {
                   $('#btn-example-file-reset').on('click', function() {     
                      $('#file-id').val('');
                      $("#output").html(" ");
                      $('#price').html(" ");
                   });
                });
                </script>
            </fieldset>
            <div class="form-group">
                <strong style="color: #ff0000;">Note - Please click on the reset button if you by mistake upload wrong file.</strong><br><br>
                <strong>By submitting this form,</strong><br>
                I confirm that the information I have provided in here is complete and accurate to the best of my
                knowledge.
            </div>

            <button id="submit" type="submit">Submit</button>
        </form>

    </section>
    <script>

    function sendinfo(){

            var formDataToSend = new FormData();
            var a = document.getElementById("price").innerText;
            console.log(a);

            formDataToSend.append("price",a);

            var request = new XMLHttpRequest();
            request.open("POST", "http://127.0.0.1:5000/emicalculation");
            request.send(formDataToSend);
       }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <script src="../../static/js/pdf_to_html.js"></script>

</body>

</html>
