<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment Gateway</title>
  <link rel="stylesheet" href="../../static/css/Payment_Gateway.css">
</head>
<body>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
<div class="wrapper">
  <div class="payment">
    <h2>Payment Gateway</h2>
    <hr>
    <div class="form">
      <a href="https://rzp.io/l/paypanchrantna"><div class="btn">
      Pay
      </div> 
    </a>
    </div>
  </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js'></script>
</body>
</html>
